%h3 
  This is the users page

%p 
  The number of users are 
  = @users.count

- @users.each do |user|
  %div{ id: "user-info-box-#{user.id}" }
    %p 
      Username
      = user.username
      - if current_user.admin? && !user.admin?
        = link_to 'Delete User', user_path(user.id), method: :delete,id: "delete-user-#{user.id}", data: { remote: true }


= link_to 'Add New User', new_user_path
